@font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/InterVariable.woff2') format('woff2-variations'),
        url('./fonts/InterVariable.woff2') format('woff2');
}

@font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url('./fonts/InterVariable-Italic.woff2') format('woff2-variations'),
        url('./fonts/InterVariable-Italic.woff2') format('woff2');
}